<div class="login-form">
  <form action="/examples/actions/confirmation.php" method="post">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">

      <input type="text" class="form-control" [formControl]="username">

    </div>
    <div class="form-group">
      <input type="password" class="form-control"  [formControl]="pass">
    </div>
    <div class="form-group">
      <button  class="btn btn-primary btn-block" (click)="loginAttempt()">Log in</button>
      <button  class="btn btn-primary btn-block" (click)="getLogin()">Get Log in</button>
      <button  class="btn btn-primary btn-block" (click)="consoletoken()">Get token in console</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
  <p *ngIf="whoami">who ? {{whoami.username}}</p>
  {{username.value}}<br>
  {{pass.value}}
  <hr>
  {{token |json }}
</div>
