<div id="pool_form">
  <form [formGroup]="poolform" (ngSubmit)="onSubmit()">

    <h2 class="text-center">Log in</h2>
    <div class="form-group">

      <label *ngFor="let form in poolform">
        hello
      </label>

      <label>
        Quantité

        <input type="text" formControlName="quantity">
      </label>
    </div>
    <div class="form-group">
      <label>
        Produit
        <input type="text" formControlName="product">
      </label>
    </div>
    <div class="form-group">
      <label>
        Par
        <input type="text" formControlName="who">
      </label>
    </div>

    <div class="form-group">
      <label>
        date
        <input type="date" formControlName="date">
      </label>
    </div>



    <div class="form-group">

      <div formArrayName="aliases">
        <h3>Aliases</h3> <button class="btn btn-success" (click)="addAlias()">Add Alias</button>

        <div *ngFor="let alias of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label>
            Alias {{i}}:
            <input type="text" [formControlName]="i"> <button class="btn  btn-danger" (click)="delAliad(i)">Suppr</button>
          </label>
        </div>
      </div>

    </div>


    <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!poolform.valid">Submit</button>
    </div>
  </form>

<button class="btn btn-primary btn-block" (click)="updateValue()">valeurs par defaut</button>

  <p>

    Form Status: {{ poolform.status }}

  </p>

  <p>
    Form Values: {{poolform.getRawValue() | json}}
  </p>
  <p>
    Hello is : {{hello}}
  </p>

</div>


