<div class="jumbotron">
  <img src="/assets/img/hero.png" width="340" height="240" alt="">
<!--  <h1 class="display-4">Heroes Demo</h1>-->
  <p class="lead">This is a simple angular tour of heroes implementation with custom tests !.</p>
  <hr class="my-4">


</div>


<!--{{hero.name}} {{hero.power}}-->

<div *ngIf="selectedHero">
<h1>Selected hero</h1>
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" >
    <span class="badge" >{{hero.id}}</span> {{hero.name}} <b>{{hero.power}}</b>
  </li>
</ul>

<div *ngFor="let hero of heroes" class="card" style="width: 18rem;" (click)="onSelect(hero)">

  <div class="card-body">
    <h5 class="card-title">{{hero.name | titlecase}}</h5>
    <p class="card-text">{{hero.power | titlecase}}.</p>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">

    <a href="/heroes/{{hero.id}}" class="btn btn-primary">Voir le hero</a>
  </div>
</div>



