<div class="jumbotron">
  <img src="/assets/img/hero.png" width="340" height="240" alt="">
<!--  <h1 class="display-4">Heroes Demo</h1>-->
  <p class="lead">This is a simple angular tour of heroes implementation with custom tests !.</p>
  <hr class="my-4">


</div>


<!--{{hero.name}} {{hero.power}}-->
<app-hero-detail [hero]="selectedHero" [color]="'ok'"></app-hero-detail>


<h2>My Heroes</h2>
<!--<ul class="heroes">-->
<!--  <li *ngFor="let hero of heroes" >-->
<!--    <span class="badge" >{{hero.id}}</span> {{hero.name}} <b>{{hero.power}}</b>-->
<!--  </li>-->
<!--</ul>-->


<div *ngFor="let hero of heroes" class="card" style="width: 18rem;" (click)="onSelect(hero)">
  <button mat-raised-button color="primary"
          matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
  <div class="card-body">
    <h5 class="card-title">{{hero.name | titlecase}}</h5>
    <span class="badge badge-warning">#{{hero.id}}</span>
    <button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
    </button>
    <p class="card-text">{{hero.power | titlecase}}.</p>
    <label for="name">Hero name: </label>


    <a href="/heroes/{{hero.id}}" class="btn btn-primary">Voir le hero</a>

  </div>
</div>



